* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile First */
body {
    font-family: 'Space Mono';
    padding-left: 23px;
    }


.content {
    display: flex;
    flex-direction:column;
    align-items: center;
}    

.msjfour {
    font-family: 'Inconsolata', monospace;
    font-style:normal;
    font-weight:bolder;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333; 
    margin-top: 1px;
}

.image {
    width: 286.83px;
    margin-top: 64px;
}

.image img{
    width: 100%;
}

.mainInfo h2{
    margin-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
}

.mainInfo p{
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #4f4f4f;
}

.mainInfoBtn {
    padding: 23px 43px;
    margin-top: 66px;
    background-color: #333333;
    color: #ffffff;
    font-family: Space Mono;
    text-transform: uppercase;
}

footer {
    margin-top: 114px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    font-family: Montserrat;
    color: #bdbdbd;
    text-align: center;
}

footer a {
    color: #bdbdbd;
}

/*Big Displays*/

@media only screen and (min-width:900px){
        
body {
    padding: 44px 77px;
}

.content {
    margin-top: 165px;
    height: 450px;
    flex-direction: row;
    justify-content: center;
}

.image {
    width: auto;
    min-width: 286.83px;
    max-width: 539.22px;
    margin-right: 118.78px;
}

.mainInfo {
    max-width: 586px;
}

.mainInfo h2 {
    margin: 0;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}

.mainInfo p {
    max-width: 381px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
}

footer {
    margin-top: 100px;
}

}
